@import url("https://fonts.googleapis.com/css?family=Lobster");
::-webkit-scrollbar{
  display: none;
}
:root {
  --background-color: rgba(1, 1, 1, 0.7);
  --font-family: "Lobster";
  --font-size: 18px;
  --border-radius: 15px;
  --color-white: white;
}

body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.smooth {
  transition: 1s ease all;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: var(--background-color);
  color: var(--color-white);
  padding: 10px;
  margin: 10px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  transition: 0.5s ease all;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: var(--color-white);
  color: rgba(0, 0, 0, 1);
}

#version {
  color: var(--color-white);
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -65%);
  font-family: var(--font-family);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

section h1,
section h2 {
  font-family: var(--font-family);
  font-size: 36px;
  padding: 30px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

section h1 {
  top: 30%;
}

section h2 {
  top: -75%;
  transform: translate(-50%, 75%);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.volume-slider {
  position: absolute;
  margin: 10px;
  display: flex;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  outline: none;
  margin-right: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}

.fa-volume-up,
.fa-volume-down,
.fa-volume-off {
  font-size: 32px;
  color: var(--background-color);
}

#choose {
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color-white);
  width: 750px;
  height: 350px;
  position: relative;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ducks {
  font-family:"Lobster";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color-white);
  width: 200px;
  height: 250px;
  margin: 0 10px;
}

svg {
cursor: pointer;
}

.ducks::after {
transition: 0.5s ease all;
content: "";
display: block;
position: relative;
bottom: -30px;
text-align: center;
}

#yellowDuck:hover::after {
font-size: 22px;
content: "Yellow Duck";
}

#redDuck:hover::after {
font-size: 22px;
content: "Red Duck";
}

#blueDuck:hover::after {
font-size: 22px;
content: "Blue Duck";
}