::-webkit-scrollbar{
  display: none;
}

.hidden{
  display: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: #403633;
}

section{
  color:white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section button{
  display: table-cell;
  padding: 10px;
  border-collapse: separate;
}