::-webkit-scrollbar{
  display: none;
}

.hidden{
  display: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: #403633;
}


#stats{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  
  #petNameEntered{
    color: red;
    font-size: 1vw;
  }
  
  #createPet {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #TheTime{
      color: white;
      text-align: center;
  }
  
  button{
      background-color: #403633;
      text-decoration: none;
      color: white;
      cursor: pointer;
  }
  
  input{
      text-decoration: none;
      color: white;
      background-color: #403633;
  }
  
  #endGame{
      color: red;
      text-align: center;
      position: absolute;
      font-size: 3vw;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);    
  }
  
  #eye-iris, #eye-pupil {
    position: fixed;
    padding: 0;
    animation: eye-iris 5s ease-in-out infinite;
  }
  
  @keyframes eye-iris {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(1px, 1px);
    }
    50% {
      transform: translate(0, 1px);
    }
    75% {
      transform: translate(-1px, 1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  #headerOne{
    padding-right: 35px;
    padding-left: 37px;
  }
  #statTwo,#headerTwo {
    padding-left: 50px;
  }
  
  #backToMain{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);    
  }
  
  tbody{
    color: white;
    background-color: rgba(1, 1, 1, 0.7);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);   
    max-height: 150px !important;
    overflow-y: scroll !important;
    padding: 15px;
  }
  
  tr:hover{
    background-color: antiquewhite;
    color: black;
  }
  
  thead{
    padding: 10px;
    color: white;
    background-color: rgba(1, 1, 1, 0.7);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 26%;
    width: 200px;
    transform: translate(-50%, -26%);   
  }